body{
    background-color: #ddd;
}

.calc-container {
    background-color: #000;
    width: 600px;
    margin: 10px auto;
    padding: 30px;
}

.buttons {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 510px;
    gap: 10px 10px;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 20px;
    width: 120px;
    height: 70px;
    flex-grow: 1;
    background-color: rgb(117, 117, 117);
    color: white;
    font-size: 20px;
    font-weight: bold;

}

#del, #clear{
    order: 2;
}

.screen{
    background-color: #fff;
    border: 1px solid black;
    height: 100px;
    width: 508px;
    margin: 10px auto;
    margin-top: 50px;
    text-align: right;
    font-size: 34px;
    padding-right: 5px;
}

.buttons{
    border-top: 2px solid #fff;
    margin: 0 auto;
    padding: 10px;
}

.clr {
    background-color: tomato;
}

.expression {
    margin: 0px;
    padding: 0px;
    height: 50%;
    font-size: 24px
}

.input {
    margin: 0px;
    padding: 0px;
    height: 50%;
}