* {
    margin: 0;
    padding: 0;
}

.header {
    align-items: center;
    text-align: center;
    color: white;
    background: rgb(65,65,65);
    background: radial-gradient(circle, rgba(65,65,65,1) 0%, rgba(55,55,55,1) 100%); 
    padding: 10px;
}

.page-container{
    height: 100vh;
    background-color: #999;
}

.add-content {
    margin: 0 auto;
    color: white;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-content input {
    margin: 5px 0;
    font-size: 16px;
}
.add-content .read p{
    display: inline;
    margin-right: 5px;
}
.add-content .read input{
    margin-top: 10px;
}

.add-content h1{
    margin-bottom: 10px;
}


.add-content button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 30px;
    font-weight: 600;
    margin-top: 10px;
}

.add-content button:hover {
    background-color: #333;
    color: white;
}

.add-content button:active {
    border: 1px solid white;
    color: white;
}

.books-content {
    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr));
}

.books-content .card {
    border: 2px solid black;
    background-color: #eee;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin: 10px 0;
    gap: 10px;
    font-size: 24px;
    border-radius: 20px;

}

.books-content .card p:first-child {
    font-weight: bold;
}

.books-content .card button{
    padding: 5px 10px;
    border-radius: 5px;
    width: 100px;
    color: white;
    background-color: #333;
    cursor: pointer;
}

.read {
    background-color: rgb(58, 155, 58) !important;
}

.not-read{
    background-color: rgb(192, 63, 63) !important;
}

.add-form {
    position: fixed;
    margin: 0 auto;
    top: 38%;
    left: 38%;
    z-index: 99;
    text-align: center;
    background-color: #333;
    border-radius: 10px;
    display: none;
}

.add-button p{
    position: fixed;
    display: inline-block;
    background-color: #333;
    color: white;
    border-radius: 50%;
    font-size: 50px;
    font-weight: bold;
    padding: 1px 10px;
    bottom: 30px;
    right: 30px;
}

.add-button p:hover{
    background-color: #fff;
    color: black;
    cursor: pointer;
}

#close {
    background-color: rgb(177, 55, 55);
    color: white;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    padding: 10px;
}