body{
    background-color: #ddd;
}
.container {
    height: 600px;
    width: 600px;
    margin: 0 auto;
    border: 1px solid #999;
}
.cell {
    border: 1px solid #999;
    background-color: white;
}

h1 {
    text-align: center;
    border-bottom: 1px solid black;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

button {
    padding: 5px;
}

button:hover {
    background-color: black;
    color: white;
}

button:active {
    background-color: #666;
    color: white;
}